<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <title>관리자모드</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base2.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
  <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</head>
<body>

<div class="card admin-container">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>⚙️ 상품 발송 관리</h2>
    <a href="/" class="btn-home-go">홈으로 돌아가기</a>
  </div>

  <table class="admin-table">
    <thead>
    <tr>
      <th>닉네임</th>
      <th>연락처</th>
      <th>최고점수</th>
      <th>증정 상품</th>
      <th>발송 여부</th>
      <th>관리</th>
    </tr>
    </thead>
    <tbody>
    {% for person in contestants %}
    <tr id="row-{{ person.id }}">
      <td><strong>{{ person.nickname }}</strong></td>
      <td>{{ person.phone_number }}</td>
      <td class="prize-cell" data-score="{{ person.highest_score }}">{{ person.highest_score }}</td>
      <td class="prize-cell" data-score="{{ person.highest_score }}"></td>
      <td>
        <span id="status-{{ person.id }}" class="status-badge {{ 'status-y' if person.is_sent else 'status-n' }}">
            {{ '발송완료' if person.is_sent else '미발송' }}
        </span>
      </td>
      <td>
        <button id="btn-send-{{ person.id }}" class="btn-action"
                style="{{ 'display:none;' if person.is_sent else 'display:inline-block;' }}"
                onclick="processSend('{{ person.id }}')">발송</button>

        <button id="btn-cancel-{{ person.id }}" class="btn-action btn-cancel"
                style="{{ 'display:inline-block;' if person.is_sent else 'display:none;' }}"
                onclick="processCancel('{{ person.id }}')">취소</button>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
</body>
</html>