<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="auther" content="소시민 김씨">
    <meta name="keywords" content="[2026 김예진 탄신일 기념 퀴즈]">
    <meta name="description" content="20개의 질문을 맞춰라!">

    <!-- sns share -->
    <meta property="og:url" content="https://kimsquiz2026.onrender.com" />
    <meta property="og:title" content="[2026 김예진 탄신일 기념 퀴즈]" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/static/img/sweetbell.jpg" />
    <meta property="og:description" content="20개의 질문을 맞춰라!" />

    <!--favicon-->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.ico" />

    <title>
        2026 김예진 탄신일 퀴즈
    </title>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('9a8a80b88e70f8866ef43156f0c9f432');
        Kakao.isInitialized();
    </script>

</head>
<body>
    HOW I CAN BUILD MY B-DAY EVENT PAGE?
    <br>
    <div>    <img src="/static/img/sweetbell.jpg">
    </div>
</body>
</html>