<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.ico" />
  <title>정답 확인</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base2.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz_review.css') }}" />
</head>
<body>
<div class="card">
  <h2>정답 확인</h2>
  <p>최고 점수 기준 정오표입니다.</p>

  <script src="{{ url_for('static', filename='js/quiz_data.js') }}"></script>
  <div id="review-list"></div>

  <a href="/" class="btn-home-go">홈으로 돌아가기</a>
</div>

<script>
  // 서버에서 받은 데이터를 2번 파싱하여 확실하게 배열로 변환합니다.
  let rawData = '{{ best_attempt.selected_answers | safe }}';
  const userAnswers = JSON.parse(JSON.parse(JSON.stringify(rawData)));

  // 정답지 배열
  const correct_sheet = [2, 1, 0, 1, 0, 1, 2, 2, 0, 2, 1, 0, 1, 1, 2, 0, 0, 1, 2, 0];
</script>
<script src="{{ url_for('static', filename='js/quiz_review.js') }}"></script>
</body>
</html>